@model IEnumerable<CarSystem.Models.Car>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <label>Delete</label>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transmission)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RatePerDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageURL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <input type="checkbox" data-id="@item.ID" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Make)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Transmission)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RatePerDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageURL)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.ID}) |
            @Html.ActionLink("Details", "Details", new {id = item.ID}) |
            @*@Html.ActionLink("Delete", "Delete", new { id=item.ID })*@
            <button class="delete-btn btn-link" data-id="@item.ID">Delete</button>
        </td>
    </tr>
}

</table>

<button id="delete-all">Delete Selected</button>

@section scripts
{
    @Scripts.Render("~/bundles/site")
}
