@model HandleErrorInfo
@{
    ViewBag.Title = ViewBag.Name ?? "Error";
}
<div class="clearfix">
    <h1 class="field-validation-error">@ViewBag.Title</h1>
</div>
    <div class="alert alert-warning">
        @if (string.IsNullOrWhiteSpace(ViewBag.Description))
        {
            @:Uh oh. An unexpected error has occured, sorry!
        }
        else
        {
            @:@ViewBag.Description
        }
    </div>
    @if (Model != null && HttpContext.Current.IsDebuggingEnabled)
    {
        <div>
            <p>
                <b>Exception:</b> @Model.Exception.Message
                <br />
                <b>Controller:</b> @Model.ControllerName
                <br />
                <b>Action:</b> @Model.ActionName
            </p>
            @if (Model.Exception.StackTrace != null)
            {
                <div style="overflow: scroll">
                    <pre>
                        @Model.Exception.StackTrace
                    </pre>
                </div>
            }
        </div>
    }