@model HandleErrorInfo
@{
    ViewBag.Title = ViewBag.Name;
}
<div class="clearfix">
    <h1 class="field-validation-error">@ViewBag.Name</h1>
</div>
<div class="container">
    <div class="alert alert-warning">
        @ViewBag.Description
    </div>
    @if (Model != null && HttpContext.Current.IsDebuggingEnabled)
    {
        <div>
            <p>
                <b>Exception:</b> @Model.Exception.Message
                <br />
                <b>Controller:</b> @Model.ControllerName
                <br />
                <b>Action:</b> @Model.ActionName
            </p>
            @if (Model.Exception.StackTrace != null)
            {
                <div style="overflow: scroll">
                    <pre>
                        @Model.Exception.StackTrace
                    </pre>
                </div>
            }
        </div>
    }
</div>